#if defined AVE_CFG_DB_INC
    #endinput
#endif
#define AVE_CFG_DB_INC

#define MYSQL_HOST ""
#define MYSQL_USER ""
#define MYSQL_DATABASE ""
#define MYSQL_PASSWORD ""
#define MYSQL_POOL_SIZE (2)

#define ACCOUNT_BCRYPT_COST (12)
